{% extends 'adminlte/login.html' %}
{% load bootstrap4 %}

<h1><a>{% block logo_text %} <strong>e</strong>diaristas{% endblock logo_text %}</a></h1>

{% block login_form %}
{% if validlink %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">          
            Criar nova senha
        </div>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}           
            <button class="btn btn-primary" type="submit">Salvar</button>
        </form>    
    </div>
</div>
{% endif %}
{%endblock login_form %}